.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
 }

 .mystyle{
     margin-top: 150px;
     margin-left: 450px;
   
     
 }